* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

@media print {
    .no-print, .no-print * {
        display: none !important;
    }
}

body.body {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
    font-size: 0.85rem;
    font-weight: normal;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    min-height: 100%;
}


header {
    margin-bottom: 30px;
}

header a:hover, footer a:hover {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

footer {
    background-clip: content-box;
    position: sticky;
    position: -webkit-sticky;
    top: 100%;
}

section#body {
    margin: 15px auto;
}

.sidebar {
    /*padding-bottom: 15px;*/
}

.navigation {
    margin: 10px auto;
}

.pagination {
    margin: 0;
}

button {
    font-weight: bold !important;
}

.skui-mask {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.9);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    color: #555;
    border-radius: 3px;
    z-index: 9999;
}

.skui-mask .l-text {
    font-size: 24px;
    margin-top: 15px;
}

.random-color, .random-bg-color, .random-border-color {
}

.card .card-title {
    font-weight: bold;
    font-size: 16px;
    margin: 0;
}

.skui-h-center {
    margin: 8% auto;
    width: 40%;
}

.skui-table th, .skui-table td {
    text-align: center;
}

.skui-table th {
    font-size: .85em;
    letter-spacing: .05em;
    text-transform: uppercase;
}

@media screen and (max-width: 768px) {
    .skui-table {
        border: 0;
    }

    .skui-table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }

    .skui-table tr {
        border-bottom: 1px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }

    .skui-table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: 0.9em;
        text-align: right;
    }

    .skui-table td:before {
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }

    .skui-table td:last-child {
        border-bottom: 0;
    }

    .skui-h-center {
        width: 100%;
    }

}

.skui-create-edit-panel .close, .skui-edit-popup .close, .modal .close {
    position: absolute;
    right: 0;
    top: -3px;
    font-size: 35px;
    color: red;
}

.skui-alert {
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
    min-width: 250px;
    z-index: 99999;
}

.fade-in {
    opacity: 1;
    animation: fadein 1s linear;
}

.fade-out {
    transition: 0.5s linear all;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.trim-text {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.trim-text-10 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    max-height: 200px;
    line-height: 10px;
    margin-bottom: 15px;
}

.skui-text-editor {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    display: block !important;
    width: 1px;
    height: 1px;
    opacity: 0;
}

.skui-image-chooser input[type=file] {
    width: 70%;
}

.skui-image-preview {
    max-height: 50px;
    max-width: 100px;
    overflow: hidden;
}

.mark-active {
    border-left: 5px solid #5bc0de;
    border-radius: .25rem;
}

.mark-inactive {
    border-left: 5px solid #de103c;
    border-radius: .25rem;
}

.overflow-hide {
    overflow: hidden !important;
    word-break: break-word;
}

.flex-body {
    margin: 0 -15px;
}

.link, .link:link, .link:hover {
    color: inherit;
    text-decoration: inherit;
    cursor: pointer;
}

/*=-====skui-hover-menu=====*/
.navbar-light .navbar-nav .nav-link {
    color: rgb(64, 64, 64);
}

.skui-hover-menu a, .navbar > li > a {
    text-transform: capitalize;
    /*padding: 10px 15px;*/
}

.skui-hover-menu .active a,
.skui-hover-menu .active a:focus,
.skui-hover-menu .active a:hover,
.skui-hover-menu li a:hover,
.skui-hover-menu li a:focus,
.navbar > .show > a, .navbar > .show > a:focus, .navbar > .show > a:hover {
    color: #000;
    background: transparent;
    outline: 0;
}

/*submenu style start from here*/
.skui-hover-menu .dropdown-menu {
    padding: 0px 0;
    margin: 0 0 0;
    border: 0px solid transparent !important;
    border: 0px solid rgba(0, 0, 0, .15);
    border-radius: 0px;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

/*first level*/
.skui-hover-menu .collapse ul > li:hover > a {
    background: #f5f5f5;
}

.skui-hover-menu .collapse ul ul > li:hover > a, .navbar .show .dropdown-menu > li > a:focus, .navbar .show .dropdown-menu > li > a:hover {
    background: #fff;
}

/*second level*/
.skui-hover-menu .collapse ul ul ul > li:hover > a {
    background: #fff;
}

/*third level*/
.skui-hover-menu .collapse ul ul, .skui-hover-menu .collapse ul ul.dropdown-menu {
    background: #f5f5f5;
}

.skui-hover-menu .collapse ul ul ul, .skui-hover-menu .collapse ul ul ul.dropdown-menu {
    background: #f5f5f5
}

.skui-hover-menu .collapse ul ul ul ul, .skui-hover-menu .collapse ul ul ul ul.dropdown-menu {
    background: #f5f5f5
}

/*Drop-down menu work on hover*/
.skui-hover-menu {
    background: none;
    margin: 0;
    padding: 0;
    min-height: 20px
}

@media only screen and (max-width: 991px) {
    .skui-hover-menu .show > .dropdown-toggle::after {
        transform: rotate(-90deg);
    }
}

@media only screen and (min-width: 991px) {
    .skui-hover-menu .collapse ul li {
        position: relative;
    }

    .skui-hover-menu .collapse ul li:hover > ul {
        display: block
    }

    .skui-hover-menu .collapse ul ul {
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 250px;
        display: none
    }

    /*******/
    .skui-hover-menu .collapse ul ul li {
        position: relative
    }

    .skui-hover-menu .collapse ul ul li:hover > ul {
        display: block
    }

    .skui-hover-menu .collapse ul ul ul {
        position: absolute;
        top: 0;
        left: 100%;
        min-width: 250px;
        display: none
    }

    /*******/
    .skui-hover-menu .collapse ul ul ul li {
        position: relative
    }

    .skui-hover-menu .collapse ul ul ul li:hover ul {
        display: block
    }

    .skui-hover-menu .collapse ul ul ul ul {
        position: absolute;
        top: 0;
        left: -100%;
        min-width: 250px;
        display: none;
        z-index: 1
    }

}

/*END*/

.popup-image {
    cursor: pointer;
    transition: 0.3s;
}

.popup-image:hover {
    opacity: 0.7;
}

/* The Modal (background) */
.popup-image-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
}

/* Modal Content (image) */
.popup-image-modal .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image */
.popup-image-modal .caption {
    margin: auto;
    display: block;
    width: 90%;
    max-width: 1080px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation */
.popup-image-modal .modal-content, .popup-image-modal .caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {
        -webkit-transform: scale(0)
    }
    to {
        -webkit-transform: scale(1)
    }
}

@keyframes zoom {
    from {
        transform: scale(0)
    }
    to {
        transform: scale(1)
    }
}

/* The Close Button */
.popup-image-modal .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.popup-image-modal .close:hover,
.popup-image-modal .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .popup-image-modal .modal-content {
        width: 100%;
    }
}

#skui-overlay {
    position: fixed;
    /*display: none;*/
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 99999999;
    cursor: pointer;
    overflow-y: scroll;
}

#skui-overlay .close {
    top: 0;
    right: 16px;
    position: fixed;
}

.rotate-90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.rotate-180 {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}